node_modules
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log
lerna-debug.log
npm-debug.log.*
yarn-debug.log.*
yarn-error.log.*
lerna-debug.log.*
lib
dist
src_temp
.idea
examples/shinegis-client-23d
examples/pages/en-US
examples/pages/zh-CN
examples/pages/es
examples/pages/fr-FR
fe.element/shinegis-client-23d
.npmrc
coverage
waiter.config.js
build/bin/algolia-key.js
build/bin/algolia-key2.js
.envrc
package-lock.json
examples/play
/packages/theme-chalk/package-lock.json
examples/play
package-lock.json
yarn-lock.json
/packages/theme-chalk/package-lock.json
CHANGELOG-LOCAL.md
