@import 'mixins/mixins';
@import 'common/var';

@include b(full-screen) {
  cursor: pointer;
  margin: 2px 0;
  width: 32px;
  height: 32px;
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--title-background-color);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
