@import 'mixins/mixins';
@import 'common/var';

@include b(scene-split) {
}

@include b(linkmap) {
  border-right: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  position: absolute;
  margin: 0;
  background: white;

  .linkmapcontent {
    opacity: 0.8;
    z-index: 99;
    background-color: #7f7f7f;
    width: 99.99%;
    border-bottom: 1px solid white;
    height: 32px;
    line-height: 32px;
    display: inline;
    position: absolute;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .el-select {
    position: absolute;
    top: 50px;
    left: 40px;
    z-index: 998;
  }

  .el-icon-close {
    float: right;
    height: 30px;
    width: 32px;
    background: transparent;
    border: 0px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px;
    margin-right: 8px;
  }
}
